@use "src/index.scss" as index;

.NavbarUser {
    @include index.prevent-select;
    position: fixed;
    top: 0;
    z-index: index.$z-index-6;
    justify-content: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    height: 50px;
    overflow: hidden;

    .GradientText {
        @include index.GradientText;
    }
}