// @font-face {
//     font-family: 'Rocket-Vintage';
//     src: local('Rocket-Vintage'), url(./../../../Asset/Font/Rocket\ Vintage.ttf) format('truetype');
// }

.NavbarButton {
    font-family: Rocket-Vintage !important;
    font-size: 30px !important;
    color: rgb(245, 214, 63) !important;
    text-shadow: 2px 0px 9px rgba(0, 0, 0, 1);
    width: 120px;
    height: 40px;
    text-transform: capitalize;
}

.NavImg {
    transform: scale(2);
    width: 80px;
    height: 30px;
    object-fit: cover;
    // border: 1px solid white;
}