@use "../../../index.scss" as index;

.Navbar-Desktop-Button {
    @include index.center;
    font-family: index.$font;
    pointer-events: all;
    cursor: pointer;
    overflow: visible;
    background: none;
    width: 145px;
    height: 40px;
    border: none;

    p {
        @include index.prevent-select;
        @include index.underline;
        overflow: visible;
        color: index.$yellow;
        text-transform: none;
        text-shadow: index.$text-shadow;
        font-size: 30px !important;
        padding-inline: 10px;
    }
}