.Feature{
    padding: 30px;
    color: aliceblue;
    
}

.FeatureCard{
    border: 10px solid white;
    background-color: rgb(0, 0, 0);
    height: 130px;
    padding: 20px;
    border-radius: 20px;
}