@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}