@font-face {
    font-family: 'Rocket-Vintage';
    src: local('Rocket-Vintage'), url(./Asset/Font/Rocket\ Vintage.ttf) format('truetype');
}

@font-face {
    font-family: 'Louis-George-Cafe';
    src: url(/src/Asset/Font/Louis\ George\ Cafe.ttf) format('truetype');
}


* {
    /* font-family: Rocket-Vintage; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Louis-George-Cafe'; */
    /* font-family: 'Rocket-Vintage'; */
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}