::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: 0.5s;
    background: rgb(138, 6, 138);
    will-change: background;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(74, 4, 74);


}