@use "src/index" as index;

#Carousel {
    .Carousel-Swiper {
        width: 100vw;
        height: 400px;

        .Carousel-Swiper-Slide {
            @include index.prevent-select;
            @include index.center;
            width: 400px;
            height: auto;
            background-color: rgb(252, 199, 199, 0);

            .Carousel-Image {
                image-resolution: 300dpi;
                height: 100%;
                width: auto;
                object-fit: cover;
            }
        }
    }

    .swiper-slide {
        @include index.center;
        text-align: center;
        font-size: 18px;
        background: index.$white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
    }


}