@use "src/index" as index;

#Login {
    @include index.background("./../../../Asset/Image/Background/Homebg.webp");
    @include index.center;
    background-attachment: local;
    height: 120%;
    min-height: 100vh;
    padding-top: 20px;

    .form {
        @include index.form-layout;

        @media screen and (max-width: index.$sm) {
            width: 60%;
            height: auto;
            width: 100%;
            margin-inline: 20px;
        }


        .Title {
            @include index.prevent-select;
            font-weight: bold;
            font-size: 50px;
            color: index.$yellow;
            display: block;
            margin: 0;
            margin-top: 20px;
            font-family: index.$font;

            @media screen and (max-width: index.$sm) {
                font-size: 36px;
            }
        }

        .Subtitle {
            @include index.prevent-select;
            font-family: index.$font2;
            color: index.$blue;
            margin: 10px;
            margin-bottom: 10px;
            display: block;

            @media screen and (max-width: index.$sm) {
                font-size: 12px;
            }
        }



        .Checkbox-Section {
            margin-top: 20px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 10px;

            @media screen and (max-width: index.$sm) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .Divider {
            @include index.prevent-select;
            margin-top: 10px;
            margin-bottom: 30px;
        }

    }

}