@use "src/index" as index;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

#Login {
    @include index.background("./../../../Asset/Image/Background/Homebg.webp");
    @include index.center;
    height: 100%;
    min-height: 120vh;

    .form {
        width: index.$form-width;
        font-family: index.$font2;
        position: relative;
        z-index: 1;
        background: index.$white;
        border-radius: 10px;
        margin: 10px auto 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        padding-inline: 40px;

        @media screen and (max-width: index.$sm) {
            width: 60%;
            height: auto;
            width: 100%;
            margin-inline: 20px;
        }


        .Title {
            @include index.prevent-select;
            font-weight: bold;
            font-size: 50px;
            color: index.$yellow;
            display: block;
            margin: 0;
            margin-top: 20px;
            font-family: index.$font;

            @media screen and (max-width: index.$sm) {
                font-size: 26px;
            }
        }

        .Subtitle {
            @include index.prevent-select;
            font-family: index.$font2;
            color: index.$blue;
            margin: 10px;
            margin-bottom: 10px;
            display: block;

            @media screen and (max-width: index.$sm) {
                font-size: 12px;
            }
        }

        // Google
        .Google {
            height: 40px;
            background-color: #FFFFFF;
            color: #182848;
            border: 1px solid rgb(24, 40, 72, 0.5);
            border-radius: 40px;
            font-weight: bold;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .googleicon {
                width: 20px;
                height: 20px;

                @media screen and (max-width: index.$sm) {
                    width: 10px;
                    height: 10px;
                }
            }

            @media screen and (max-width: index.$sm) {
                height: 30px;
                font-size: 10px;
            }

        }



        .Checkbox-Section {
            margin-top: 20px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 10px;

            @media screen and (max-width: index.$sm) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .Divider {
            margin-top: 10px;
            margin-bottom: 10px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .ForgotPass {
            cursor: pointer;
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #122758;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }


        .RememberMe {
            @include index.prevent-select;
        }


        input:focus {
            background: #dbdbdb;
        }

        button {
            @include index.prevent-select;
            text-transform: uppercase;
            outline: 0;
            background: index.$blue;
            width: 100%;
            border: 0;
            border-radius: 40px;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;

        }

        button:active {
            background: index.$blue;
        }


        p.error {
            @include index.prevent-select;
            margin: 10px 10px 10px 10px;
            text-align: left;
            font-size: 10px;
            color: red;
        }
    }

}