@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.Join {
    background: linear-gradient(90deg, #b74b7d 0%, #182848 100%);
    height: 100%;
    min-height: 100vh;

    .join {
        padding-top: 100px;
        height: 100%;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .JoinTitle {
        user-select: none;
        font-size: 40px;
        color: #395699;
        margin-bottom: 25px;
        display: block;
        font-weight: bold;
    }

    .textarea {
        margin-bottom: 80px;
    }

    .wrapper {
        padding: 15px;
        background: #f2f2f2;
        border-radius: 5px;
    }

    .list {
        margin: 0;
        padding: 0;
        padding-left: 0px;
        list-style-position: inside;
        list-style: circle;
    }

    .TextLabel {
        opacity: 0.7;
        margin: none;
        text-align: left;
    }

    .inp_option {
        text-align: left;
        background: #f2f2f2;
        border-radius: 5px;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Comfortaa', cursive;
        width: 100%;

    }

    .login {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
        font-family: 'Comfortaa', cursive;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        border-radius: 10px;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
    }

    .Button {
        font-family: 'Comfortaa', cursive;
        text-transform: uppercase;
        outline: 0;
        background: #4b6cb7;
        color: #FFFFFF;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .textfillheart {
        animation: textfillheart 2s infinite ease-in-out alternate-reverse;
        will-change: transfrom;
    }

    @keyframes textfillheart {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }

    p.error {
        margin: 20px 10px 10px 10px;
        text-align: left;
        font-size: 10px;
        color: red;
        user-select: none;
    }
}