.bushContainer {
    position: absolute;
    bottom: 0;
    transform: scale(3) translate(0, -40px);

    .bush {
        position: relative;
        width: 630px;
        height: 150px;
        border-bottom: 10px solid #19e68c;
        overflow-y: hidden;

        .bushcircle {
            position: absolute;
            background-color: #19e68c;
            border-radius: 100%;
            bottom: 0;
            left: 0;
        }

        .bushcircle.a {
            width: 60px;
            height: 60px;
            margin: 0 0 -30px 30px;
        }

        .bushcircle.b {
            width: 100px;
            height: 100px;
            margin: 0 0 -50px 75px;
        }

        .bushcircle.c {
            background-color: #14b870;
            width: 60px;
            height: 60px;
            margin: 0 0 -30px 160px;
        }

        .bushcircle.d {
            background-color: #14b870;
            width: 100px;
            height: 100px;
            margin: 0 0 -50px 195px;
        }

        .bushcircle.e {
            background-color: #14b870;
            width: 60px;
            height: 60px;
            margin: 0 0 -30px 255px;
        }

        .bushcircle.f {
            background-color: #14b870;
            width: 100px;
            height: 100px;
            margin: 0 0 -50px 295px;
        }

        .bushcircle.g {
            background-color: #14b870;
            width: 60px;
            height: 60px;
            margin: 0 0 -30px 355px;
        }

        .bushcircle.h {
            background-color: #14b870;
            width: 100px;
            height: 100px;
            margin: 0 0 -50px 395px;
        }

        .bushcircle.i {
            background-color: #1cbe78;
            width: 60px;
            height: 60px;
            margin: 0 0 -30px 475px;
        }

        .bushcircle.j {
            background-color: #1cbe78;
            width: 100px;
            height: 100px;
            margin: 0 0 -50px 495px;
        }
    }
}





.bushbgContainer {
    position: absolute;
    bottom: 0;
    bottom: 0;
    transform: scale(1);
    filter: brightness(0.5);
    background-color: #1cbe78;
    width: 100%;
    height: 60%;
    border: 10px dotted #19e68c;
    border-style: dotted;
    z-index: 1;
    padding-bottom: -200px;
}