@use "src/index" as index;

#About {
    @include index.center;
    flex-direction: column;
    padding-top: 10vh;
    min-height: 100vh;
    position: relative;

    &::after {
        content: "";
        @include index.background("./../../../Asset/Image/Background/Homebg.webp");
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    .GridItem {
        @include index.center;
        margin: 10px;
    }

    .Title {
        @include index.center;
        font-family: index.$font;
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        color: index.$yellow;
        text-shadow: 2px 0px 9px rgba(0, 0, 0, 1);
        height: 100%;
        margin: 20px;

        @media screen and (max-width: index.$md) {
            font-size: 30px;
        }

    }

}