@use "src/index" as index;


#About {
    @include index.background("./../../../Asset/Image/Background/Homebg.webp");
    @include index.center;
    flex-direction: column;
    padding-top: 10vh;
    min-height: 100vh;


    .GridItem {
        @include index.center;
        margin: 10px;
    }

    .Title {
        @include index.center;
        font-family: index.$font;
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        color: index.$yellow;
        text-shadow: 2px 0px 9px rgba(0, 0, 0, 1);
        height: 100%;
        margin: 20px;

        @media screen and (max-width: index.$md) {
            font-size: 30px;
        }

    }

}