.database {
    padding: 30px;

    .input {
        margin-bottom: 10px;
    }

    .databaseTabel {
        padding: 30px;
        background-color: rgb(14, 142, 46);
        color: white;
        border-radius: 10px;

        th {
            font-size: 15px;
            font-weight: bolder;
            color: aliceblue;
        }
    }
}

.Analytic {
    padding: 30px;
    background-color: rgb(204, 110, 9);
    color: white;
    border-radius: 10px;
}