.home {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 100px;
        font-weight: bolder;
        color: #000;
    }

    .home-image {
        transform: scale(1.5);
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        // border: 1px solid black;
        z-index: 1;
        pointer-events: none;
    }

    .heading {
        width: auto;
        height: 60px;
        overflow: hidden;
        margin: 15px;
        z-index: 2;
        // color: white;
        pointer-events: none;

    }


    .pilar {
        background-color: #ff948d;
        width: 70px;
        height: 100%;
        position: absolute;
        z-index: -1;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }


}