.home {
    // overflow-x: hidden;
    overflow: hidden;
    // background-color: rgb(255, 159, 159);
    background: rgb(75, 209, 255);
    background: -moz-linear-gradient(90deg, rgba(75, 209, 255, 1) 0%, rgba(219, 165, 255, 1) 79%, rgba(189, 70, 177, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(75, 209, 255, 1) 0%, rgba(219, 165, 255, 1) 79%, rgba(189, 70, 177, 1) 100%);
    background: linear-gradient(90deg, rgba(75, 209, 255, 1) 0%, rgba(219, 165, 255, 1) 79%, rgba(189, 70, 177, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4bd1ff", endColorstr="#bd46b1", GradientType=1);
    // display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .circle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: absolute;
        transition: transform 1s cubic-bezier(0.5, 0.01, 0, 0.08), opacity 1s;
        -webkit-transition: transform 1s cubic-bezier(0.5, 0.01, 0, 0.08), opacity 1s;
        -moz-transition: transform 1s cubic-bezier(0.5, 0.01, 0, 0.08), opacity 1s;
        -o-transition: transform 1s cubic-bezier(0.5, 0.01, 0, 0.08), opacity 1s;
    }

    .circle.first {
        background: #ff948d;
    }

    .circle.second {
        transition-delay: 0.5s;
        background: white;
        opacity: 1;
    }

    .circle.loaded {
        transform: scale(100);
        -webkit-transform: scale(100);
        -moz-transform: scale(100);
        -o-transform: scale(100);
        -ms-transform: scale(100);
        opacity: 1;
        animation: turnopacity 1s;
        animation-delay: 1000ms;
    }

    .circle.faded {
        opacity: 0;
    }

    h1 {
        font-size: 100px;
        font-weight: bolder;
        color: #000;
    }

    .home-image {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        background-color: #fffafa;
        z-index: 2;
    }

    .heading {
        overflow: hidden;
        margin: 10px;
        z-index: 2;
        color: white;

    }

    .joinbtn {
        pointer-events: all;
        padding: 20px;
        // background-color: rgb(0, 0, 0);
        background: rgb(0, 198, 224);
        background: -moz-linear-gradient(90deg, rgba(0, 198, 224, 1) 0%, rgba(191, 0, 212, 1) 79%);
        background: -webkit-linear-gradient(90deg, rgba(0, 198, 224, 1) 0%, rgba(191, 0, 212, 1) 79%);
        background: linear-gradient(90deg, rgba(0, 198, 224, 1) 0%, rgba(191, 0, 212, 1) 79%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c6e0", endColorstr="#bf00d4", GradientType=1);
        color: white;
        width: 420px;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 10px;
        font-size: 30px;
        font-weight: bolder;
        cursor: pointer;
        transition: 0.5s;
        z-index: 3;

        &:hover {
            color: rgb(0, 0, 0);
        }

    }

    .pilar {
        background-color: #ff948d;
        width: 70px;
        height: 100%;
        position: absolute;
        z-index: 2;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }


}