.thankyou {
    // backdrop-filter: blur(5px);
    // background-color: rgba(196, 35, 35, 0.5);

    .heart {
        background-size: cover;
        object-fit: cover;
        height: 100px;
        width: 100px;
        // filter: grayscale(1);
        transition: all 0.3s ease-in-out;
        pointer-events: all;
        will-change: transform;
        user-select: none;
        -webkit-user-drag: none;
        user-select: none;
    }

    // .svgheart {
    //     background-color: aqua;
    //     background-clip: content-box;

    //     .boxheart {
    //         background-color: red;
    //         width: 100px;
    //         height: 100px;
    //     }
    // }

    .heartface {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        float: left;
        width: 2px;
        height: 200px;
        background-color: rgb(0, 0, 0);
    }
}