.birdbg {
    position: absolute;
    top: 100px;
    transform: scale(2);
    $tree1: #2D1427;
    $tree2: #5A0831;
    $tree3: #CD4D45;
    $range: #F46435;
    $mountain1: #F59452;
    $mountain2: #F47A45;
    $wood: #370D09;
    $pole: #791819;
    $flag: #C63737;
    $tower1: #76122C;
    $tower2: #C93D3D;
    $tower3: #821021;
    $tower4: #F4633A;
    $tower5: #4B1205;
    $tower6: #C13C45;

    .container {
        position: relative;
        width: 100vh;
        height: 335px;
        overflow: hidden;
    }

    .birds {
        position: absolute;
        z-index: 9999;
        width: 100px;
        height: 100px;

        &.front {
            animation: flyFront 4s linear;
            animation-direction: forwards;
            animation-iteration-count: infinite;
            animation-delay: .5s;
            top: 200px;
            left: 200px;
        }

        &.back {
            animation: flyBack 8s linear;
            animation-direction: forwards;
            animation-iteration-count: infinite;
            animation-delay: .5s;
            // animation-delay: 3s;
            top: 50px;
            left: -425px;
        }

        .bird {
            position: absolute;
            transform: scale(0.15);
        }

        @for $i from 1 through 12 {
            $delay: random(2) - .5+s;

            .b#{$i} {
                .wing1 {
                    animation: flap .5s ease-in-out;
                    animation-iteration-count: infinite;
                    //animation-timing-function: ease;
                    animation-direction: alternate;
                    transform-origin: 0 0;
                    //animation-delay: $delay;
                    animation-duration: $delay;
                }
            }
        }

        .b1 {
            top: -30px;
        }

        .b2 {
            top: -20px;
            left: -15px;
        }

        .b3 {
            left: 10px;
        }

        .b4 {
            top: 15px;
            left: 20px;
        }

        .b5 {
            top: 30px;
            left: -5px;
        }

        .b6 {
            top: 45px;
            left: 5px;
        }

        .b7 {
            top: -5px;
            left: -35px;
        }

        .b8 {
            top: 10px;
            left: -25px;
        }

        .b9 {
            top: 25px;
            left: -50px;
        }

        .b10 {
            top: 40px;
            left: -40px;
        }

        .b11 {
            top: -10px;
            left: -75px;
        }

        .b12 {
            top: 5px;
            left: -65px;
        }
    }

    .body {
        clip-path: polygon(0 100%, 20% 20%, 40% 0, 100% 100%, 20% 80%);
        background: rgb(230, 48, 127);
        width: 150px;
        height: 40px;
    }

    .wing1 {
        position: relative;
        left: 40px;
        top: -20px;
        width: 40px;
        height: 50px;
        background: rgb(230, 48, 127);
        transform: skew(10deg);

        .wing2 {
            position: absolute;
            bottom: -25px;
            left: 13px;

            transform: rotate(-5deg);
        }

        .wing3 {
            width: 40px;
            height: 30px;
            background: rgb(230, 48, 127);
            transform: skew(40deg);
        }
    }

    @keyframes flap {
        0% {
            transform: skew(10deg) rotateX(50deg);
        }

        100% {
            transform: skew(15deg) rotateX(120deg);
        }
    }

    @keyframes flyFront {
        0% {
            transform: translate3d(0, 0, 0) rotate(15deg);
        }

        100% {
            transform: translate3d(-600px, -150px, 0) rotate(15deg);
        }
    }

    @keyframes flyBack {
        0% {
            transform: translate3d(0, 0, 0) scale(.6) scaleX(-1) rotate(-15deg);
        }

        100% {
            transform: translate3d(1600px, -50px, 0) scale(.6) scaleX(-1) rotate(15deg);
        }
    }

}