.about-container {
    width: 100%;
    border: 5px solid red;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    .about-title {
        font-size: 50px;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0%;
    }
    .about-card {
        background-color: black;
        width: 70%;
        // height: 200px;
        border-radius: 10px;
        // border: 2px solid rgb(218, 10, 10);
        color: white;
        padding: 10px;
        font-size: 15px;
    }

    .about-image {
        background-color: rgb(13, 131, 177);
        height: 200px;
        width: 200px;
        border-radius: 10px;
        margin-left: 10px;
        border-radius: 20px;
        object-fit: cover;
    }

}