@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.aboutCard {
    width: 100vw;
    height: 50vh;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 10px;

    .image {
        height: 200px;
        width: 200px;
        background-color: rgb(4, 114, 157);
        border-radius: 30px;
        margin-left: 10px;
        border-radius: 20px;
        object-fit: cover;
        display: inline-block;
    }

    .desc {
        color: white;
        font-family: 'Montserrat', sans-serif !important;
        // font-size: 20px;
        text-align: left;
    }

}