@use "src/index" as index;

.Loading-Screen {
    @include index.full-screen;
    @include index.center;
    position: fixed;
    z-index: index.$z-index-7;

    &::after {
        @include index.full-screen;
        @include index.center;
        background-image: url(./../../Asset/Image/Background/Homebg.webp);
        background-size: cover;
        background-position: center;
        content: '';
    }


    .Caption {
        font-family: index.$font;
        position: absolute;
        text-align: center;
        font-weight: bold;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font-size: 30px;
        color: index.$white;
        text-shadow: 5px 0px 9px index.$black;
    }

}