.DivisionNav {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.DivisionNavCard {
    border: 10px solid white;
    background-color: rgb(32, 30, 30);
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 30px !important;
}