.DivisionNav {
    padding: 20px;
    margin: 20px;
}

.DivisionNavCard {
    border: 10px solid white;
    background-color: rgb(32, 30, 30);
    height: 130px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 30px !important;
    // width: 100%;
}