@use "src/index.scss" as index;

.NavbarUser-wrap {
    @include index.prevent-select;
    position: fixed;
    top: 0;
    z-index: index.$z-index-6;
    justify-content: right;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    background: rgb(178, 138, 103);
    background: -moz-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
    background: linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b28a67", endColorstr="#926445", GradientType=1);
}

.NavbarUser {
    @include index.prevent-select;
    position: fixed;
    top: 0;
    z-index: index.$z-index-6;
    justify-content: right;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    background: rgb(178, 138, 103);
    background: -moz-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
    background: linear-gradient(0deg, rgba(178, 138, 103, 1) 0%, rgba(146, 100, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b28a67", endColorstr="#926445", GradientType=1);
    // background-image: repeating-linear-gradient(-214deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 0px, transparent 13px);
    // background-size: 9px;
    // -webkit-mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
    // mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
    // border-bottom: 6px solid rgb(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);


    .GradientText {
        @include index.prevent-select;
        font-size: 20px;
        padding: 15px;
        padding-left: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        color: index.$yellow;
        font-family: index.$font;
        text-shadow: index.$text-shadow;
    }

    .active {
        color: index.$yellow;
    }


    h1 {
        color: #555;
        font: bold 12px 'helvetica neue', helvetica, arial, sans-serif;
        left: 0;
        margin: 20px 0 0 0;
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
    }

    #bars {
        height: 30px;
        left: 50%;
        margin: -30px 0 0 -20px;
        position: absolute;
        top: 50%;
        width: 40px;
    }

    // sound bar

    .bar {
        background: rgba(255, 255, 255, 0.462);
        bottom: 1px;
        height: 3px;
        position: absolute;
        width: 3px;
        animation: sound 0ms -800ms linear infinite alternate;
    }

    @keyframes sound {
        0% {
            opacity: .35;
            height: 3px;
        }

        100% {
            opacity: 1;
            height: 28px;
        }
    }

    .bar:nth-child(1) {
        left: 1px;
        animation-duration: 474ms;
    }

    .bar:nth-child(2) {
        left: 5px;
        animation-duration: 433ms;
    }

    .bar:nth-child(3) {
        left: 9px;
        animation-duration: 407ms;
    }

    .bar:nth-child(4) {
        left: 13px;
        animation-duration: 458ms;
    }

    .bar:nth-child(5) {
        left: 17px;
        animation-duration: 400ms;
    }

    .bar:nth-child(6) {
        left: 21px;
        animation-duration: 427ms;
    }

    .bar:nth-child(7) {
        left: 25px;
        animation-duration: 441ms;
    }

    .bar:nth-child(8) {
        left: 29px;
        animation-duration: 419ms;
    }

    .bar:nth-child(9) {
        left: 33px;
        animation-duration: 487ms;
    }

    .bar:nth-child(10) {
        left: 37px;
        animation-duration: 442ms;
    }
}