@use "src/index" as index;

#Footer {
    @include index.prevent-select;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 70px;
    background-color: index.$black;

    .title {
        @include index.prevent-select;
        color: index.$yellow;
        font-family: index.$font;
        font-weight: bolder;
        font-size: 30px;
    }

    .Footer-Section {
        @include index.prevent-select;
        width: 100%;
        color: index.$white;
        // padding: 20px;
        text-align: left;
        overflow: visible;

        .Logo-Wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            .UFEST-LOGO {
                transform: scale(1.5);
                width: 200px;
                height: 200px;
                border-radius: 50%;
                pointer-events: none;
            }
        }


        .address {
            margin: 10px;
            font-family: index.$font2;
        }

        .link:hover {
            text-decoration: underline;

        }
    }

    .Footer-Foot {
        padding: 20px;
        text-align: center;
        color: index.$white;
        font-family: index.$font2;

        .purpleText {
            color: index.$purple;
            font-family: index.$font2;
        }
    }
}


.Footer-Link-Card {
    display: flex;
    justify-content: left;
    align-items: center;
    color: index.$white;
    text-decoration: none;
    width: 100%;
    position: relative;

    .Card-Image {
        width: 25px;
        height: 25px;
    }

    .Card-Caption {
        @include index.underline;
        margin-left: 10px;
        font-family: index.$font2;

    }


}