@use "src/index" as index;

.Division {
    @include index.background("./../../../Asset/Image/Background/Homebg.webp");
    @include index.center;
    flex-direction: column;
    height: 100vh;

    h1 {
        font-family: index.$font;
        font-size: 50px;
        font-weight: bolder;
        color: index.$yellow;
        text-shadow: index.$text-shadow;
    }
}