.Division {
    height: 80vh;
    padding-top: 20vh;
    background-image: url("./../../../Asset/Image/Background/Homebg.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;


    h1 {
        font-size: 100px;
        font-weight: bolder;
        color: #000;
    }
}