@use "src/index" as index;

#Register {
    @include index.background("./../../../Asset/Image/Background/Homebg.webp");
    @include index.center;
    height: 100%;
    min-height: 120vh;
    background-attachment: local;

    .form {
        @include index.form-layout;

        .Title {
            @include index.prevent-select;
            font-weight: bold;
            font-size: 50px;
            color: index.$yellow;
            display: block;
            margin: 0;
            margin-top: 20px;
            font-family: index.$font;

            @media screen and (max-width: index.$sm) {
                font-size: 26px;
            }
        }

    

        .Purple {
            color: #c208b3 !important;
        }
    }




}