@use "../../../index.scss" as index;

.Navbar-Desktop-Button {
    @include index.center;
    font-family: index.$font;
    pointer-events: all;
    cursor: pointer;
    overflow: visible;
    background: none;
    width: 145px;
    height: 40px;
    border: none;
    position: relative;
    // text-shadow: index.$text-shadow;

    p {
        @include index.prevent-select;
        // @include index.underline;
        overflow: visible;
        color: index.$white;
        text-transform: none;

        font-size: 30px !important;
        padding-inline: 10px;
        z-index: index.$z-index-1;

        &.Active {
            z-index: index.$z-index-2;
            position: relative;
            will-change: outline;
            // border: 2px dashed yellow;
            border-radius: 10px;
        }


    }

    .ActiveLine {
        // width: 100%;
        position: absolute;
        bottom: 0px;

        .path {
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            animation: ActiveLine 0.6s linear forwards;
        }

        @keyframes ActiveLine {
            to {
                stroke-dashoffset: 0;

            }
        }
    }
}