@use '../../../index.scss' as index;

.Navbar-Mobile-Button {
    @include index.prevent-select;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    border-style: none;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 15px;
    border-radius: 50%;
    z-index: index.$z-index-6;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;

    .bar {
        height: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        margin: 2px;
        position: absolute;

        &.up {
            width: 27px;
        }

        &.down {
            width: 22px;
        }
    }

}


.navbar-mobile-menu-button {
    z-index: index.$z-index-6;
}

.Navbar-Mobile-Menu-Container {
    @include index.prevent-select;
    @include index.full-screen;
    background-color: rgb(245, 214, 63, 0.95);
    text-shadow: 5px 0px 9px index.$black;
    z-index: index.$z-index-6;
    overflow: hidden;
    position: fixed;
    top: 0;
    @include index.center;
    text-align: center;
    will-change: transform, opacity;

    .Navbar-Mobile-Menu-Card {
        .Navbar-Menu-Button {
            border: none;
            background-color: rgb(255, 255, 255, 0);
            text-shadow: index.$text-shadow;
            font-family: index.$font;
            color: index.$white;
            z-index: index.$z-index-6;
            margin: 10px;
            font-size: 40px;
            font-weight: 700;
            pointer-events: all;
        }
    }
}